/* LandingView.module.scss */
.container {
  height: 100vh;
  background-color: #1a1d29;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 80vw;
  max-width: 600px;
  height: auto;
}

.enterButton {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #ff2e2e;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.swName {
 font-size: 3rem;
 margin-bottom: 1rem;                                               
}