.container {
  height: 100vh;
  background-color: #0b0d17;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #1a1d29;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 46, 46, 0.4);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.title {
  color: #ff2e2e;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #4c4f57;
  background-color: #2a2e3a;
  color: #f5f5f5;
  border-radius: 4px;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #ff2e2e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e62222;
}

.toggleText {
  color: #aaa;
  margin-top: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.logo {
  width: 80vw;
  max-width: 600px;
  height: auto;
  margin-bottom: 2rem;
}

.swName {
 font-size: 3rem;
 margin-bottom: 1rem;                                               
}